# deploy go docker to tx cloud

name: Build and deploy a container to tx cloud

env:
  GO_WEBAPP_NAME: wx-mp   # set this to your application's name

on:
  push:
    branches:
      - dev

permissions:
  contents: 'read'
  packages: 'write'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Get version
        id: version
        run: |
          cat version.txt
          echo " "
          echo "first num"
          cat version.txt | head -n 1
          echo "2 num"
          cat version.txt | head -n 2
          echo "    "
          
          
          echo version=$(cat version.txt | head -n 1} >>${GITHUB_ENV}
          echo "----envvvvvvvvv---"
          echo "${env.version}"