# deploy go docker to tx cloud

name: Build and deploy a container to tx cloud

env:
  GO_WEBAPP_NAME: wx-mp   # set this to your application's name

on:
  push:
    branches:
      - dev

permissions:
  contents: 'read'
  packages: 'write'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Get version
        id: version
        run: |
          echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
          echo "${GITHUB_REF/refs\/tags\//}"
          echo "${{VERSION}}"