# deploy go docker to tx cloud

name: Build and deploy a container to tx cloud

env:
  GO_WEBAPP_NAME: wx-mp   # set this to your application's name

on:
  push:
    branches:
      - dev

permissions:
  contents: 'read'
  packages: 'write'

jobs:

  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Lowercase the name
        run: |
          echo "REPO=${GITHUB_REPOSITORY,,}" >>${GITHUB_ENV}
          echo "DEPLOY_IMAGE_NAME=${{ secrets.DOCKER_REGISTRY }}/${{ secrets.DOCKER_NAMESPACE }}/wx-mp:latest" >>${GITHUB_ENV}

      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.CLOUD_HOST }}
          username: ${{ secrets.CLOUD_USERNAME }}
          password: ${{ secrets.CLOUD_KEY }}
          port: 22
          script: |
            docker login ${{ secrets.DOCKER_REGISTRY }} --username=${{ secrets.DOCKER_USERNAME }} --password ${{ secrets.DOCKER_PASSWORD }} 
            docker pull ${{ env.DEPLOY_IMAGE_NAME }}
            docker run -d --name wx-mp -p 80:8888 ${{ env.DEPLOY_IMAGE_NAME }}