# deploy go docker to tx cloud

name: Build and deploy a container to tx cloud

env:
  APP_NAME: wx-mp   # set this to your application's name
  PRE_VERSION: latest
  CUREENT_VERSION: v2

on:
  push:
    branches:
      - dev

permissions:
  contents: 'read'
  packages: 'write'

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to tencentyun container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.DOCKER_REGISTRY }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Get image names
          run: |
            echo "BASE_IMAGE_NAME=${{ secrets.DOCKER_REGISTRY }}/${{ secrets.DOCKER_NAMESPACE }}/${{ env.APP_NAME }}" >>${GITHUB_ENV} 
            echo "DEPLOY_IMAGE_NAME=${{ env.BASE_IMAGE_NAME }}:${{ env.CUREENT_VERSION }}" >>${GITHUB_ENV} 
            echo "DEL_IMAGE_NAME=${{ env.BASE_IMAGE_NAME }}:${{ env.PRE_VERSION }}" >>${GITHUB_ENV} 

      - name: Build and push container image to registry
        uses: docker/build-push-action@v2
        with:
          push: true
          # docker tag wx-mp:v1 ccr.ccs.tencentyun.com/imzdong/wx-mp:v1
          tags: ${{ env.DEPLOY_IMAGE_NAME }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:

      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.CLOUD_HOST }}
          username: ${{ secrets.CLOUD_USERNAME }}
          password: ${{ secrets.CLOUD_KEY }}
          port: 22
          script: |
            docker stop $(docker ps --filter ancestor=${{ env.DEL_IMAGE_NAME }} -q)
            docker rm -f $(docker ps --filter ancestor=${{ env.DEL_IMAGE_NAME }} -q)
            docker rmi -f $(docker images ${{ env.DEL_IMAGE_NAME }} -q)

            docker login ${{ secrets.DOCKER_REGISTRY }} --username=${{ secrets.DOCKER_USERNAME }} --password='${{ secrets.DOCKER_PASSWORD }}'
            docker pull ${{ env.DEPLOY_IMAGE_NAME }}
            docker run -d --name wx-mp -p 80:8888 ${{ env.DEPLOY_IMAGE_NAME }}